*{  
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

#form{      
    margin-top: 2rem;
    width: 900px;
    padding: 20px;
}

.input{ 
    margin-top: 2rem;
}

.btn{   
    margin-top: 2rem;
}


